@import "core/variables";

.body {
  padding: 0;
  margin: 0;
  background-color: $background-color_body;
  font-family: $font-family_principal;
}

.header {
  width: 100%;
}

.show-controls {
  margin: 0 auto;
  text-align: center;
}

.title-searcher {
  padding: 10px;
}

.btn-styles {
  background-color: $button_background-color_normal;
  border-radius: 6px;
  outline: none;
  color: $button_typography-color;
  font-size: 14px;
  margin: 10px 0;
  height: 35px;
  padding: 0 14px;
}

.btn-styles:hover {
  background-color: $button_background-color_active;
}

.btn-styles:active {
  font-size: 16px;
  background-color: $button_background-color_active;
  box-shadow: 0 3px $button_shadow_active;
  transform: translateY(4px);
}

.show-input {
  margin: 10px 0;
  padding: 4px;
  height: 22px;
  width: 300px;
  border: 2px solid $border-color_input;
  font-size: 14px;
  outline-color: $outline-color_input;
}

.text-error {
  text-align: center;
}

.show-result-item {
  margin: 10px;
  padding: 20px;
  list-style: none;
  float: left;
  text-align: center;
  border: 3px solid $border-color_serie;
  background-color: $background-color_serie;
  width: 200px;
  height: 300px;
  color: $series_typography-color;
  font-size: 14px;
}

.show-result-item-active {
  border: 3px solid $border-color_serie_favourite;
  background-color: $background-color_serie_favourite;
}

.show-result-item img {
  width: 80%;
  height: 80%;
}
