<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sprint 2 - Evaluación final - El buscador de series</title>
  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="body">
  <header class="header">
    <img src="assets/images/coollogo_size50.png" alt="" class="title-website">
    <div class="show-controls">
      <input id="show-input" class="show-input" type="text" placeholder="Introduce el nombre de una serie">
      <select name="list" id="list" class="select">
        <option value="shows">Series</option>
        <option value="people">Actores</option>
      </select>
      <button id="search-show" class="btn-styles">Buscar</button>
      <p id="counter" class="counter"></p>
    </div>
  </header>
  <main>
    <p id="error" class="text-error"></p>
    <ul class="" id="show-results"></ul>
  </main>
  <script type="text/javascript" src="assets/js/main.js"></script>
</body>

</html>