// COLORS:

$background-color_body: white;

$background-color_serie: rgb(221, 203, 155);
$background-color_serie_favourite: rgb(255, 208, 0);
$border-color_serie: rgb(236, 180, 74);
$border-color_serie_favourite: orange;
$series_typography-color: rgb(75, 63, 12);

$button_background-color_normal: saddlebrown;
$button_background-color_active: salmon;
$button_shadow_active: gray;
$button_typography-color: rgb(56, 33, 4);

$border-color_input: gray;
$outline-color_input: crimson;

$title-principal_typography-color: rgb(56, 33, 4);

// TYPOGRAPHY:

$font-family_principal: Arial, Helvetica, sans-serif;
