// COLORS:

$background-color_body: white;

$background-color_serie: lightpink;
$background-color_serie_favourite: violet;
$border-color_serie: palevioletred;
$border-color_serie_favourite: purple;
$series_typography-color: darkmagenta;

$button_background-color_normal: darkmagenta;
$button_background-color_active: salmon;
$button_shadow_active: gray;
$button_typography-color: white;

$border-color_input: gray;
$outline-color_input: crimson;

$title-principal_typography-color: black;


// TYPOGRAPHY:

$font-family_principal: Arial, Helvetica, sans-serif